body {
    background: #222;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #ffffff;
}

.assignment, .finalGrade {
    text-align: right;
}

.student_info {
    text-align: left;
    width: 12.5%;
}

th {
    text-align: center;
    background-color: #dddddd;
}

th, td {
    padding: 1rem;
}

th:first-of-type {
    border-top-left-radius: 10px;
}

th:last-of-type {
    border-top-right-radius: 10px;
}

td:last-of-type {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

table {
    margin: 3rem auto 3rem auto;
    border: 2px solid #dddddd;
    background-color: white;
    border-radius: 15px;
}

button {
    display: flex;
    margin: 3rem auto 3rem auto;
}

#csv {
    display: flex;
    margin: 0 auto 3rem auto;
    width: 50%;
}

#AssignmentCount {
    text-align: center;
    color: white;
}

input {
    display: flex;
    margin: auto;
    text-align: center;
}

h3 {
    text-align: center;
    color: white;
}

.draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: #ffe593;
}

.draw-border:hover::before, .draw-border:hover::after {
    border-color: #ffe593;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1rem 2rem;
    letter-spacing: 0.05rem;
}